<div class="app-menu">
  <div class="app-menu-left"></div>
  <div class="app-menubars">
    <p-menubar [model]="items1" [style]="{ height: '40px' }"></p-menubar>
    <p-menubar [model]="items2" [style]="{ height: '40px' }"></p-menubar>
  </div>
  <div class="app-menu-right">
    <p-toggleButton
      [(ngModel)]="darkTheme"
      [onIcon]="'bi bi-moon'"
      [offIcon]="'bi bi-sun'"
      (onChange)="onThemeChange()"
      checked="darkTheme"
      [style]="{ height: '40px' }"
    ></p-toggleButton>
  </div>
</div>
