name: GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  pages: write
  id-token: write
  pull-requests: write
  issues: write
  repository-projects: write
  contents: write
  actions: write
  checks: write
  deployments: write
  discussions: write
  packages: write
  security-events: write
  statuses: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Date
        run: date

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # caching node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build prod
        run: npm run build:prod

      - name: Archive build
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist

      - name: Download build
        if: success()
        uses: actions/download-artifact@v3
        with:
          name: dist

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: angular
